# Object files
*.o
# Fortran
*.mod
fort*
*.dat
*.xyz
/obj
/mod
/test
*.sw*
*.sv*
.*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Test Calculation files
*.tac

